[credential]
	helper = osxkeychain
[user]
	name = nickhstr
	email = nickhstr@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = mvim -v
[pager]
	branch = false
