[credential]
	helper = osxkeychain
[user]
	name = nickhstr
	email = nickhstr@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
	editor = subl -n -w
[pager]
	branch = false
[mergetool "smerge"]
	trustExitCode = true
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
[merge]
	tool = smerge
